:root {
    --font-size: 14px;
}

body {
    font-family: 'Segoe UI';
    font-size: var(--font-size);
    padding: 1%;
    margin: 0;
    background-color:#0368d4;
}

.github {
    color: #278efc;
    text-decoration: none;
}

.github:hover {
    color: #0368d4;
}

.json_input {
    width: 99%;
    margin: 0;
    border: 1px solid #0368d4;
    border-radius: 5px;
    font-family: 'Segoe UI';
    font-size: var(--font-size);
}

.convert_btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #0368d4;
    padding: 9px 12px;
    font-size: var(--font-size);
    border-radius: 5px;
    color: #fff;
    background-color: #278efc;
}

.json_input:focus,
.convert_btn:hover {
    box-shadow: 0 6px 18px -9px #0368d4;
    transition: box-shadow 0.1s;
}

tbody {
    color: blanchedalmond;
}

a {
    color:yellow;
}


.j2ht_table,
.j2ht_table table {
    width: 100%;
    border-collapse: collapse;
    --cellpadding: 4px;
}

.j2ht_table {
    border: 1px #acaead solid;
}

.j2ht_table table {
    border: 1px #01afae solid;
    font-size: 12px;
}

.j2ht_table table {
    width: -webkit-calc(100% - 8px);
    width: -moz-calc(100% - 8px);
    width: calc(100% - 8px);
    margin-left: 8px;
}

.j2ht_table table > tbody > tr:nth-child(0) {
    background-color: #01afae;
}

.j2ht_table > thead > tr > td,
.j2ht_table table > thead > tr > td {
    font-weight: normal;
    padding: var(--cellpadding);
}

.j2ht_table > thead > tr > td {
    color: #000000;
    font-weight: bold;
    background: yellowgreen;
}

.j2ht_table table > thead > tr > td {
    color: #fcfafa;
    font-weight: bold;
    background: #02afaf;
}

.j2ht_table > tbody > tr > td,
.j2ht_table table > tbody > tr > td {
    padding: var(--cellpadding);
    color: var(--color);
}

img {
    border-radius: 50%;
    width: 8%;
    height: 8%;
  }

  h2 {
    float: right;
    padding: inherit;
    margin-top: 1%;
    color: azure;
    font-weight: bold;
}

h1 {
    float: right;
    /* padding: inherit; */
    margin-top: -7%; 
    /* margin-top: 1%; */
    color: azure;
    /* font-weight: bold; */
    padding-right: 1%;
}

.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-top: -17%;
    padding-right: 1%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  p {
      color: rgb(136, 255, 0);
  }

  .mail{
    float: right;
    margin-top: -3%;
    padding-right: 1%;
  }


  